.titulo{
  text-align: center;
}
table{
  width: 400px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sectores{
  background-color: rgb(167, 247, 187);
  font-size: 15px;
}

.col2, .col3{
  text-align: right;
}
.n1{
  background-color: rgba(252, 171, 117, 0.836);
  font-size: 20px;
}
.n2{
  background-color: rgb(253, 192, 80);
}
#total{
  background-color: rgb(82, 82, 255);
}

.vacio{
  height: 10px;
}